body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

#dice-container {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#dice {
    font-size: 2em;
    color: #fff;
}
